@font-face {
    font-family: 'Ranade';
    src: url('../assets/fonts/Ranade-Light.woff') format('woff'),
         url('../assets/fonts/Ranade-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-Medium.woff') format('woff'),
         url('../assets/fonts/Satoshi-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Switzer';
    src: url('../assets/fonts/Switzer-Regular.woff') format('woff'),
         url('../assets/fonts/Switzer-Regular.woff2') format('woff2');
}


@font-face {
    font-family: 'General Sans';
    src: url('../assets/fonts/GeneralSans-Medium.woff') format('woff'),
         url('../assets/fonts/GeneralSans-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Britney';
    src: url('../assets/fonts/Britney-Regular.woff') format('woff'),
         url('../assets/fonts/Britney-Regular.woff2') format('woff2');
}

@keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
    100% {
      transform: translateY(0); 
    }
  }
